*{
    margin: 0;
    padding: 0;
}
#text1::placeholder, #email1::placeholder, #pass1::placeholder, #pass2::placeholder, #firstName::placeholder, #lastName::placeholder{
    color: white;
}

.body{
    user-select: none;
    text-decoration: none;
}
form{
    margin-left: 110px;
    background-color: gray;
    height: 255px;
    width: 700px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

#text1{
    border: none;
    background-color: gray;
    border-bottom: solid 1px #CDCDCD;
    margin-left: 50px;
    margin-top: 30px;   
}

#email1{
    border: none;
    background-color: gray;
    border-bottom: solid 1px #CDCDCD;
    margin-left: 50px;
    margin-top: 30px;   
}
#pass1, #pass2{
    border: none;
    background-color: gray;
    border-bottom: solid 1px #CDCDCD;
    margin-left: 50px;
    margin-top: 10px;   
}
.UserIconUN{
    width: 30px;
    height: 30px;
    margin-top: -25px;
    display: flex;
}
.UserIconEM{
    width: 30px;
    height: 30px;
    margin-top: -25px;
    display: flex;
}
.UserIconPW{
    width: 30px;
    height: 30px;
    margin-top: -25px;
    display: flex;
}

.check1{
    margin-top: -20px;
    margin-left: 20px;
}
.check2{
    margin-top: -20px;
    margin-left: 20px;
}
#firstName{
    border: none;
    background-color: gray;
    border-bottom: solid 1px #CDCDCD;
    margin-top: 30px;   
}
#lastName{
    border: none;
    background-color: gray;
    border-bottom: solid 1px #CDCDCD;
    margin-left: 15px;
    margin-top: 48px; 
}
.personalData{
    display: flex;
    flex-direction: row;
}

/* .gender{
    margin-top: 150px;
} */

select{
    margin-top: 150px;
    margin-left: -343px;
    border: none;
    background-color: gray;
    border-bottom: solid 1px #CDCDCD;
}
.time{
    margin-top: -20px;
    margin-left: -243px;

}
#time{
    border: none;
    background-color: gray;
    border-bottom: solid 1px #CDCDCD;
}

.submit{
    margin-top: 232px;
    width: 90px;
    height: 20px;
    margin-right: 10px;
    background-color: rgb(2, 203, 35);
    color: white;
    border: none;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 1);
}