*{
    margin: 0;
    padding: 0;
}
.card{
    background-color: #00b7ff;
    width: 360px;
    height: 250px;
    margin-left: 110px;
    margin-top: 110px;
    border-radius: 10px;
}

.card:before{
    content: "CREDIT CARD DETAILS";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
    color: white;
    margin-left: -20px;
    margin-top: -50px;
    height: 30px;
    width: 260px;
    line-height: 30px;
}
body{
    user-select: none;
    display: flex;
}
#ExpD{
    width: 35px;
}
#ExpD1{
    width: 35px;
}
.card_img{
    width: 610px;
    height: 121px;
    margin-top: -12px;
    display: flex;
    justify-content: center;
}
#CVV{
    width: 30px;
}
