.none:active {
    display: none;
}

body {
    background: #00a651;
}

.none:hover {
    color: red;
}

#One {
    color: crimson;
    outline-style: outset;
    text-align: center;
}

#Two {
    color: crimson;
    outline-style: outset;
    text-align: center;
}

#card1 {
    /* Красный Цвет Масти */
    text-align: center;
    /* font: 50px/150px Georgia, Times New Roman, serif; */
    font: 50px/50px Georgia, Times New Roman, serif;
    font-size: 30px;
}

#cblack {
    /* Черный Цвет Масти. */
    /* ♣ */
    color: black;
    text-align: center;
    /* font: 50px/150px Georgia, Times New Roman, serif; */
    font: 50px/50px Georgia, Times New Roman, serif;
    font-size: 30px;
}

.card {
    /* Моделька Карты(игральной) */
    color: red;
    position: relative;
    float: left;
    /* margin-right: 10px;
       width: 150px;
       height: 220px;
       border-radius: 10px; */
    margin-right: 10px;
    width: 50px;
    height: 60px;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}