.el{
    margin: 100px auto 0 auto;
    background: brown;
    height: 200px;
    width: 200px;
    /* transform-origin: right; */
    transition: all 0.7s linear;
}
.el:hover{
    /* transform: scale(1.5) rotate(45deg) translate(100px, 100px) skewX(20deg); */
    transform: rotate(-360deg);
    background-color: yellow;
    color: blue;
}

.el1{
    margin: -200px 90px 0 auto;
    background: brown;
    height: 200px;
    width: 200px;
    /* transform-origin: right; */
    transition: all 0.3s linear;
}
.el1:hover{
    /* transform: scale(1.5) rotate(45deg) translate(100px, 100px) skewX(20deg); */
    transform: rotate(360deg);
    background-color: blue;
    color: yellow;
}
.el2{
    margin: -200px 520px 0 auto;
    background: brown;
    height: 200px;
    width: 200px;
    /* transform-origin: right; */
    transition: all 0.3s linear;
}
.el2:hover{
    /* transform: scale(1.5) rotate(45deg) translate(100px, 100px) skewX(20deg); */
    transform: rotate(360deg);
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}
.divvv{
    text-align: center;
}


.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    perspective: 1000px;
}
h1{
    position: absolute;
    z-index: -1;
}
.door{
    width: 300px;
    height: 300px;
    background-color: brown;
    transition: all 1s;
}
.door_left{
    transform-origin: left;
}
.door_right{
    transform-origin: right;
}
.wrap:hover .door_left{
    transform: rotateY(50deg);
}
.wrap:hover .door_right{
    transform: rotateY(-50deg);
}

.boxs{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 50px;
}
.boxs-0{
    background-color: black;
}
.boxs-1{
    background-color: red;
    margin-left: 0;
}
.boxs-2{
    background-color: green;
}